body{
font-family:Segoe UI;
background:#0f172a;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.home{
text-align:center;
background:#1e293b;
padding:60px;
border-radius:10px;
width:420px;
}

.container{
background:#1e293b;
padding:40px;
border-radius:10px;
width:400px;
}

input{
width:100%;
padding:10px;
margin:8px 0;
border:none;
border-radius:6px;
background:#334155;
color:white;
}

button{
padding:10px;
border:none;
border-radius:6px;
margin-top:10px;
cursor:pointer;
color:white;
background:#3b82f6;
}

button:hover{
background:#2563eb;
}

.admin-btn{
background:#ef4444;
}

.student-btn{
background:#10b981;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

table th,table td{
border:1px solid #475569;
padding:8px;
text-align:center;
}